<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586752885353-eqobe12g0ms8cohi54v4i51ge12svteb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586752885353-eqobe12g0ms8cohi54v4i51ge12svteb</string>
	<key>API_KEY</key>
	<string>AIzaSyAtnYM-W-fhtdxROjnTzvns2VYTQfqtlxM</string>
	<key>GCM_SENDER_ID</key>
	<string>586752885353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>todo-firebase-6b64e</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firebase-6b64e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586752885353:ios:968edf64357d2b72c598f8</string>
</dict>
</plist>